.UO-Main-Div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
    margin-top: 80px;
}

.UO-Upload-Title {
    position: absolute;
    top: 80px;
    left: 20px;
    font-family: sans-serif, Courier, monospace;
}

.UO-Outfit-Details {
    position: absolute;
    top: 25%;
    left: 29%;
    font-family: sans-serif, Courier, monospace;
}

.UO-Outfit-Pieces {
    position: absolute;
    top: 81%;
    left: 29%;
    font-family: sans-serif, Courier, monospace;
}

.UO-Nav-border {
    position: absolute;
    width: 100%;
    height: 1.5px;  
    top: 150px;
    left: 0px;
    right: 0px;
    background-color: #e8e8e8; 
}

.UO-Side-border {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 25%;
    width: 2px; 
    height: 130vh;
    background-color: #e8e8e8; 
}

.UO-Upload-Div {
    position: absolute;
    top: 35%;
    left: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 72vw;
}

.Upload-Outfit-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 45vh;
    padding-top: 15px;
    width: 95%;
}

.Upload-Pieces-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 45vh;
    padding-top: 80px;
    width: 95%;
}

.UO-Upload-Button {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: rgb(208, 75, 80);
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
    color: white;
    font-family: sans-serif, "Helvetica Neue", Helvetica;
    font-size: 15px;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 10px;
}

.UO-Upload-Button:hover {
    background-color: rgb(163, 67, 71);
    color: white;
    font-family: sans-serif, "Helvetica Neue", Helvetica;
    font-size: 15px;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}