.HM-Main-Div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-evenly;
    height: max-content;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 100px;
    max-width: 100%;
    padding: 0;
}

.HM-Outfits-Div {
    position: relative;
    display: inline-block;
    height: 270px;
    width: 200px;
    margin-top:  20px;
}

.HM-Outfit-Info-Div {
    position: absolute;
    top: 0;
    left: 0;
    height: 270px;
    width: 200px;
}

.HM-Outfit-Info-Div:hover {
    cursor: pointer;
}

.HM-Outfit-Pic {
    border-radius: 30px;
    height: 270px;
    width: 200px;
    object-fit: cover;

}

/* .HM-Outfit-Menu-Review-Div {
    position: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-top: 10px; 
    background-color: black;
} */

.HM-Outfit-Review {
    display: inline-flex;
    position: absolute;
    top: -5px;
    right: 15px;
    gap: 5px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.HM-Outfit-Menu-Icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.HM-Outfit-Menu-Icon:hover {
    cursor: pointer;
}

.HM-Outfit-Menu-Div {
    position: absolute;
    top: -70px;
    left: 10px;
    height: 80px;
    width: 195px;
    background-color: white;

    border: 0.5px solid #ccc;

  /* Add a shadow around the whole div */
    box-shadow: 1px 1px 1px 1px rgb(224, 224, 224);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.HM-Outfit-Update-Div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 5px;
    height: 30px;
    width: 93%;
    border-radius: 10px;
}

.HM-Outfit-Update-Div:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}

.HM-Outfit-Delete-Div {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    height: 30px;
    width: 93%;
    border-radius: 10px;
}

.HM-Outfit-Delete-Div:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}


.HM-Outfit-Update {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
}

.HM-Outfit-Update-Text {
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: 15px;
}

.HM-Outfit-Delete {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
}

.HM-Outfit-Delete-Text {
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: 15px;
}


.HM-Profile-Card {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    bottom: 10px;
    left: 28px;
    height: 32px;
    width: 150px;
    background-color: rgb(248, 243, 243);
    border-radius: 20px;
}

.HM-Profile-Image {
    border-radius: 50%;
    height: 20px;
    margin-top: 5px;
    margin-left: 0;
}

.HM-Profile-Name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    position: relative;
    bottom: 6px;
    right: 10px;
}