.PP-Main-Div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    height: max-content;
    height: 85vh;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 50px;
    max-width: 100%;
}

.PP-Profile-Card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 210px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
}

.PP-Profile-Img {
    position: relative;
    top: -25px;
    height: 50%;
    width: 20%;
    border-radius: 100%;
}

.PP-Profile-Info {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.PP-Username {
    position: relative;
    top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.PP-User-Subscribers {
    position: relative;
    top: -10px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.PP-User-Bio {
    position: relative;
    top: -20px;
    font-size: 15px;
    color: black;
}

.PP-Subscribe-Button {
    position: relative;

    text-decoration: none;
    box-shadow: none;
    border: none;
    outline: none;

    top: -5px;
    height: 30px;
    width: 120px;
    border-radius: 100px;
    background-color: rgb(222, 54, 77);


    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}